<div class="row">

    <div class="col-sm-8">


        <div class="well">
            <form name="contactForm" ng-submit="send(contactForm)" novalidate>

                <fieldset>
                    <legend>Contact Us</legend>
                    <p>Please leave us a message and will get back to you promptly.</p>
                    <my-textbox form="contactForm" field-name="email" name="email" type="email" label="Email" ng-model="contact.email" required></my-textbox>
                    <my-textbox form="contactForm" minlength="3" field-name="name" required name="name" label="Name" ng-model="contact.name"></my-textbox>
                    <my-textbox form="contactForm" field-name="subject" name="subject" label="Subject" ng-model="contact.subject" minlength="2"></my-textbox>


                    <div class="form-group">
                        <label>Message</label>
                        <textarea class="form-control" ng-model="contact.message" name="message">
                        </textarea>
                    </div>

                    <button class="btn btn-primary" ng-disabled="contactForm.$invalid">Send</button>
                </fieldset>
            </form>
        </div>

    </div>
    <div class="col-sm-4">

        <div class="list-group">
            <a class="list-group-item" ng-repeat="m in messages">

                <div class="clearfix">
                    <div class="pull-right">
                        <span class="label label-primary">
                            <i class="glyphicon glyphicon-envelope" aria-hidden="true"></i>
                            Primary
                        </span>
                    </div>
                </div>
                <br>

                <h4 class="list-group-item-heading">
                    {{m.subject}}
                </h4>

                <p class="list-group-item-text" ng-bind="m.message | limitTo: 100"></p>
                <p class="small text-right">
                    {{m.name}}
                </p>

                <div class="btn-group" role="group">
                    <button type="button" class="btn btn-default">Left</button>
                    <button type="button" class="btn btn-default">Middle</button>
                    <button type="button" class="btn btn-default">Right</button>
                </div>

            </a>
        </div>
    </div>
</div>
